<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/header.ejs') %>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
          <form>
            <h3 class="text-center my-4 text-capitalize">Log In to your account</h3>
            <div class="alert alert-danger d-none error-message" role="alert">error</div>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="email" class="form-control" />
              <label class="form-label" for="email">Email address</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="password" class="form-control" />
              <label class="form-label" for="password">Password</label>
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
              <div class="col d-flex justify-content-center">
                <!-- Simple link -->
                <a href="#!">Forgot password?</a>
              </div>
            </div>

            <!-- Submit button -->
            <div class="col d-flex justify-content-center">
              <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
            </div>

            <!-- Register buttons -->
            <div class="text-center">
              <p>Not a member? <a href="/p/signup">Sign up</a></p>
              <!-- <p>or sign up with:</p>
              <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
              </button>

              <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-google"></i>
              </button>

              <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-twitter"></i>
              </button>

              <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-github"></i>
              </button> -->
            </div>
          </form>
        </div>
      </div>
    </div>

    <%- include('./partials/footer.ejs') %>
    <script>
      const errorMessage = document.querySelector('.error-message');
      const form = document.querySelector('form');
      form.addEventListener('submit', e => {
        e.preventDefault();
        const email = e.target.email.value;
        const password = e.target.password.value;
        axios({
          url: '<%= request.signin.url %>',
          method: '<%= request.signin.method%>',
          data: { email, password },
        })
          .then(response => {
            if (response.request.status == 200) {
              localStorage.setItem('token', 'Bearer ' + response.data.token);
              errorMessage.classList.add('d-none');
              setTimeout(() => {
                window.location.href = '<%= redirectTo %>';
              }, 1000);
            }
          })
          .catch(err => {
            console.log(err);
            errorMessage.classList.remove('d-none');
            errorMessage.innerHTML = err.response.data.error.join('\n');
          });
      });
    </script>
  </body>
</html>
