<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/p">Q-Notes</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Secondary School</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Prep School</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Primary School</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Kindergarten School</a>
        </li>
      </ul>
      <div class="d-flex gap-2 user-state">
        <a href="/p/signin" class="d-none signin">
          <button type="button" class="btn btn-outline-primary">Sign In</button></a
        >
        <a href="/p/signup" class="d-none signup">
          <button type="button" class="btn btn-primary">Sign up</button></a
        >
        <a href="#" class="d-none profile"
          ><button type="button" class="btn btn-solid-primary">email</button></a
        >
        <button type="button" class="btn btn-solid-primary d-none signout">sign out</button>
      </div>
    </div>
  </div>
  <script>
    const userState = document.querySelector('.user-state');
    const signinBtn = document.querySelector('.signin');
    const signupBtn = document.querySelector('.signup');
    const signoutBtn = document.querySelector('.signout');
    const profileBtn = document.querySelector('.profile');
    const token = localStorage.getItem('token');
    if (token) {
      // request to get logged-user's email
      let email;
      axios({
        url: '<%= request.profile.url%>',
        method: '<%= request.profile.method%>',
        headers: {
          Authorization: token,
        },
      }).then(res => {
        profileBtn.classList.remove('d-none');
        signoutBtn.classList.remove('d-none');
        signinBtn.classList.add('d-none');
        signupBtn.classList.add('d-none');
        profileBtn.firstElementChild.innerHTML = res.data.email;
      });
    } else {
      profileBtn.classList.add('d-none');
      signoutBtn.classList.add('d-none');
      signinBtn.classList.remove('d-none');
      signupBtn.classList.remove('d-none');
    }
    // request for user log-out
    const logoutBtn = document.querySelector('.signout');
    logoutBtn.addEventListener('click', e => {
      axios({
        url: '<%= request.signout.url%>',
        method: '<%= request.signout.method%>',
        headers: {
          Authorization: token,
        },
      }).then(res => {
        localStorage.removeItem('token');
        window.location.href = '<%= redirectTo%>';
      });
    });
  </script>
</nav>
